.ui-draggable{
	// cursor: grab;
}

.ui-draggable-dragging{
	background-color: white;
	box-shadow: 20px 30px 15px rgba(0,0,0,.3);
	//height: 40px;
	//width: 200px;
	padding: $line-height-computed / 2 $line-height-computed * 2;
	cursor: grabbing !important;
	text-align: center;
	z-index: 2000 !important;

	.thumb{
		width: 100px;
		// background-color: darken($body-bg, 10%);
		position: relative;

		img{
			width: 100%;
		}
	}

	.control{
		display: none;
	}

	.file-info{
		padding-top: 10px;
		text-align: center;
		text-overflow: ellipsis;
		width: 180px;
		white-space: nowrap;
		overflow: hidden;
		
		.file-title{
			text-overflow: ellipsis;
			width: 180px;
			white-space: nowrap;
			overflow: hidden;
		}

		.file-name{
			display: none;
		}

	}

	.icon{
		// padding: $line-height-computed;
		// // padding-bottom: $line-height-computed;
		// display: block;
		// font-size: 100px;
	}
	.file-type{
		// position: absolute;
		// top: 80px;	
		// width: 100%;
		// font-size: 22px;
		// text-transform: uppercase;
		// font-weight: bold;
		// padding: 0;
		// margin: 0;
	}

}

.drop-target-hover, .drop-target-hover .name{
	background-color: $brand-primary !important;
}
.ui-sortable{
	cursor: grab;
}

.ui-sortable-helper{
	border:none;
	background: white !important;
	box-shadow: 13px 20px 15px rgba(0,0,0,.3);
}