$user-toggle-bg-color: transparent;
$user-toggle-bg-color-hover: darken($body-bg, 7%);
$user-toggle-bg-color-active: darken($body-bg, 30%);
$user-toggle-bg-color-active-hover: darken($body-bg, 20%);
$file-bg: $body-bg !default;
$file-bg-hover: darken($body-bg, 3%) !default;
$folder-bg: darken($body-bg, 8%) !default;
$folder-bg-hover: darken($body-bg, 12%) !default;

.col-indicator{
	position: absolute;
	height: 100%;
	width: 25px;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.03);
}

.file-tree-wrapper{
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
}
.file-tree-container{
	height: calc(100% - #{$line-height-computed * 3});
	margin-top: $line-height-computed * 3;
	overflow: auto;
	//padding: $line-height-computed / 2;	
	// position: relative;

	ul{
		list-style: none;
		margin: 0;
		padding-left: $line-height-computed;
		padding-left: 0;
	}

	.entry.depth-0 .col.name{padding-left: $line-height-computed * 1;}
	.entry.depth-1 .col.name{padding-left: $line-height-computed * 2;}
	.entry.depth-2 .col.name{padding-left: $line-height-computed * 3;}
	.entry.depth-3 .col.name{padding-left: $line-height-computed * 4;}
	.entry.depth-4 .col.name{padding-left: $line-height-computed * 5;}
	.entry.depth-5 .col.name{padding-left: $line-height-computed * 6;}
	.entry.depth-6 .col.name{padding-left: $line-height-computed * 7;}
	.entry.depth-7 .col.name{padding-left: $line-height-computed * 8;}
	.entry.depth-8 .col.name{padding-left: $line-height-computed * 9;}
	.entry.depth-9 .col.name{padding-left: $line-height-computed * 10;}

	.file-tree{
			display: table;
			border-collapse: collapse;
			table-layout: fixed;
		    // width: 100%;
		  padding-top: $line-height-computed * 3;
		  white-space: nowrap;


		.col.name.covering{
			box-shadow: 2px 0 0  rgba(0,0,0,.2);
		}

		.col.order{
			text-align: right;
		}


		.entry{
			//display: table-row;
			border-bottom: 1px solid darken($body-bg, 5%);
			display: table-row;

			&.folder .name{
				background-color: $folder-bg;
			}

			.file-name, .folder-name{
				pointer-events: none;
			}

			.icons{
				display: inline-block;
				position: relative;
			}

			.progress-bar-title{
				position: absolute;
				z-index: 2;
			}

			.progress{
				margin-bottom: 0;
			}

			&.look-up{
				.name{
					// font-weight: bold;
					// color: $brand-primary;
				}
			}

			&.file{
				.name{
					background-color: $file-bg;
					z-index: 2;
				}
			}

			&.folder{

				background-color: $folder-bg;
				border-bottom: 1px solid darken($body-bg, 10%);
				

				&:hover, &.look-up, &.look-up .name{
					background-color: $folder-bg-hover;
				}
				.name{
					z-index: 2;
					position: relative;
					border-bottom: 1px solid darken($body-bg, 10%);
					background-color: $folder-bg;
				}
				.name .toggle-btn{
					margin-left: -20px;
					&:hover{
						background: $brand-primary;
					}
				}
				.name .icon{
					position: relative;
					top: 3px;
					background-position: 0 (-$icon-sprite-grid);
				}
				.name .toggle-arrow{
					background-position: (-$icon-sprite-grid*8) (-$icon-sprite-grid*4);
					position: relative;
					top: 3px;
				}
				.control{
					background-color: $folder-bg-hover;
				}
			}

			&.folder.collapsed{
				.name .toggle-arrow{
					background-position: (-$icon-sprite-grid*10) (-$icon-sprite-grid*4);
					position: relative;
					top: 3px;
				}

				.name .icon{
					position: relative;
					top: 3px;
					background-position: (-$icon-sprite-grid*15)-1 0;
				}
			}

			&:hover{
				background-color: $file-bg-hover;

				&.file .name{
					background-color: $file-bg-hover;
				}

				&.folder .name{
					background-color: $folder-bg-hover;
				}
			}

			&.folder{

			}
		}
		
		.col{
			display: table-cell;
			padding-left: $line-height-computed / 4;
			padding-right: $line-height-computed / 4;
			border-right: 1px solid darken($body-bg, 20%);
			//box-sizing: border-box;

			//&.filename{width: $app-col-list-width}
			
			&.fill{
				width: 100%;
				border-right: none;
			}

			&.userfolder{
				border-right: none;
				opacity: .5;
			}

			&.name{
				min-width: 300px;
			}
			
			.control{
				opacity: 0;
				background-color: $file-bg-hover;
				top: 0;
				right: 0;
				//transition: opacity .1s;
				pointer-events: none;
				position: absolute;
			}

			&:hover .control{
				opacity: 1;
				display: block;
				pointer-events: inherit;
			}
			
			&.name{
				position: relative;
				.icon, .toggle-arrow{
					display: inline-block;
					background-image: url(../img/iconSprite.svg);
					width: 17px;
					height: 17px;
				}
			}
			&.date{
				min-width: 110px;
			}
			&.size{
				min-width: 80px;
				text-align: right;
			}
			&.user-toggle, &.user{
				min-width: 24px;
				text-align: center;
				.toggle{
					position: relative;
					z-index: 1;
					cursor: pointer;
					width: 13px;
					height: 13px;
					border-radius: 10px;
					background-color: transparent;
					margin: 0 auto;
					border: 1px solid $user-toggle-bg-color-active;

					&:hover{
						background-color: $user-toggle-bg-color-hover;
					}

					&.active{
						background-color: $user-toggle-bg-color-active;
						&:hover{
							background-color: $user-toggle-bg-color-active-hover;
						}
					}
				}
			}
		}

		.folder.entry .col.user-toggle .toggle{
			border: 1px solid $brand-primary;

			&:hover{
				background-color: rgba($brand-primary, .2);
			}

			&.active{
				background-color: transparent;
				background-image: url(../img/watchfolderStar.svg);
				background-position: center middle;

				&:hover{
					background-image: url(../img/watchfolderStarHover.svg);
				}
			}
		}

		.file-tree-header{
			position: absolute;
			// top: -$line-height-computed * 3;
			top: 0;
			z-index: 1000;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
			background-color: darken($body-bg, 10%);
			height: $line-height-computed * 3;
			font-weight: bold;
			display: table-row;
			.col{
				height: $line-height-computed * 3;
				vertical-align: bottom;

				&.name{
					background-color: darken($body-bg, 10%);
					z-index: 10;
				}

				&.user{
					position: relative;
					border-right: none;
					.username{
						bottom: 0;
						position: absolute;
						display: block;
	    				transform-origin: 0% 0%;
						transform: rotate(-45deg);
						z-index: 1;
					}
				}
			}
		}

		.entry.file .name .icon{
			background-position: (-$icon-sprite-grid*6) 0;
			position: relative;
			top: 3px;
		}
		.entry.file{
			&.m4a, &.mov, &.mp4, &.webm{
				.name .icon{
					background-position: (-$icon-sprite-grid*8) (-$icon-sprite-grid);
		}}}
		.entry.file{
			&.png, &.jpg{
				.name .icon{
					background-position: (-$icon-sprite-grid*5) (-$icon-sprite-grid);
		}}}
		.entry.file{
			&.wav, &.mp3{
				.name .icon{
					background-position: (-$icon-sprite-grid*7) (-$icon-sprite-grid);
		}}}

		// .folder.list{
		// 	margin-top: 5px;
		// 	margin-bottom: 5px;
		// }
		// 
	}

}

.file.entry{
	&.checked, &.checked .col.name{
		background-color: mix($file-bg, $brand-primary, 60%);
	}
	&.checked:hover, &.checked:hover .col.name{
		background-color: mix($file-bg, $brand-primary, 50%);
	}
}

.view-size-m{
	.entry.depth-0 .col.name{padding-left: $line-height-computed * 5;}
	.entry.depth-1 .col.name{padding-left: $line-height-computed * 6;}
	.entry.depth-2 .col.name{padding-left: $line-height-computed * 7;}
	.entry.depth-3 .col.name{padding-left: $line-height-computed * 8;}
	.entry.depth-4 .col.name{padding-left: $line-height-computed * 9;}
	.entry.depth-5 .col.name{padding-left: $line-height-computed * 10;}
	.entry.depth-6 .col.name{padding-left: $line-height-computed * 11;}
	.entry.depth-7 .col.name{padding-left: $line-height-computed * 12;}
	.entry.depth-8 .col.name{padding-left: $line-height-computed * 13;}
	.entry.depth-9 .col.name{padding-left: $line-height-computed * 14;}

	.file.entry{
		height: $line-height-computed * 3;
		line-height: $line-height-computed * 3;
		border-bottom: 1px solid darken($body-bg, 5%);

		.thumb{
			height: $line-height-computed * 3;
			width: $line-height-computed * 4;
			margin-right: $line-height-computed;
			// background-color: darken($body-bg, 10%);
			float: left;
			position: relative;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;

			.placeholder{
				font-size: 50px;
				background-image: url(../img/smallThumbPlaceholder.svg);
				background-repeat: no-repeat;
				background-size: auto 95%;
				background-position: center;
				height: 100%;
				opacity: 0.1;
				line-height: 12px;
				color: #000;
			}

			.file-type{
				position: absolute;
				top: 30px;	
				width: 100%;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				// color: lighten($text-color, 10%);
			}

			img{
				height: 100%;
			}
		}
	}
}


.userfolder.files{
	.file.entry{
		//height: $line-height-computed * 3;
		border-bottom: $divider 1px solid;
		//padding: $line-height-computed / 2;
		box-sizing: content-box;
		height: $line-height-computed;

		// .thumb{
		// 	float: left;
		// 	height: 100%;
		// 	width: 88px;
		// 	margin-right: 22px;
		// 	float: left;
		// 	text-align: center;
		// 	top: 0;
		// 	left: 0;

		// 	img{
		// 		height: 100%;
		// 	}

		// 	// .placeholder{
		// 	// 	// font-size: 50px;
		// 	// 	// background-image: url(../img/iconSprite.svg);
		// 	// 	// -webkit-background-size: 1900px;
		// 	// 	// background-size: 1900px;
		// 	// 	// background-position-x: -718px;
		// 	// 	// background-position-y: 3px;
		// 	// 	// height: 100%;
		// 	// 	// opacity: 0.1;
		// 	// 	// line-height: 12px;
		// 	// 	// color: #000;
		// 	// 	// position: relative;

		// 	// 	.file-type{
		// 	// 		position: absolute;
		// 	// 		top: 30px;
		// 	// 		width: 100%;
		// 	// 		font-size: 12px;
		// 	// 		text-transform: uppercase;
		// 	// 		font-weight: bold;
		// 	// 	}
				
		// 	// }
		// }
	}
}
