$icon-sprite-grid: 32px !default;
$icon-size: 16px !default;

.bg-icon{
	background-image: url(../img/toggleArrowRight.svg);
	width: $icon-size;
	height: $icon-size;

	&.bg-icon-folder{
		background-image-position:((15 * $icon-sprite-grid) 0);
	}

	&.bg-icon-folder-opened{
		background-image-position:(0 (15 * $icon-sprite-grid));
	}
}