$app-col-list-width: 250px !default;
// $page-header-height: $line-height-computed !default;
// $app-col-header-height: $line-height-computed !default;

.app-container{
	//height: 100%;
	//white-space: nowrap;
	position: relative;
	width: 100%;
	overflow-y: hidden; 
	//overflow-x: scroll; 
	
	.app-col{
		float: left;

		.app-col-body{
			//padding: $line-height-computed / 2;
			height: calc(100% - #{$app-col-header-height} - #{$page-header-height});
			// height: calc(100% - #{$line-height-computed * 6});
			overflow: auto;
			position: relative;


		}

		&.app-col-minus-1{
			width: calc(100% - #{$app-col-list-width} - #{$line-height-computed / 2});
			margin-right: $line-height-computed / 2;
		}
		&.app-col-full{
			width: 100%;
		}

		&.app-col-list, &.app-col-userfolders{
			.entry{
				padding-left: $line-height-computed / 2; 
				padding-right: $line-height-computed / 2; 
			}
		}

		&.app-col-list{
			.app-col-body{
				background-color: darken($body-bg, 10%);
				padding: 0 $line-height-computed / 2; 
			}
		}
		&.app-col-userfolders{
			position: relative;
			z-index: 1001;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
			.app-col-body{
				background-color: darken($body-bg, 5%);
				padding: 0 $line-height-computed / 2; 
				height: 100%;
			}
		}
		.app-col-body{
			background-color: $body-bg;
		}

		.entry.active{
			background-color: $brand-primary;
			color: white;
		}
	}
}


.app-col.app-col-detail{


		position: relative;
		background-color: $body-bg;
		// width: calc(100% - 900px);
		width: $app-col-detail-width;
		//position: absolute;
		top: 0;
		//left: $app-col-list-width;

		.app-col-header{
			background-color: #FFF;
			
			h2{
				color: $brand-primary;
			}
		}

		.app-col-footer{
			background: #FFF;
		}

		.tool-bar{
			display: table-cell; 
		    vertical-align: middle; 
			.tool-bar-btn{
				background-color: transparent;
				text-align: center;
				color: $brand-primary;
			}

			.tool-bar-btn.active{
				background-color: $brand-primary;
				color: #FFF;
			}

			.tool-bar-btn:hover{
				background-color: $body-bg;
			}

			.tool-bar-btn.active:hover{
				background-color: darken($brand-primary, 5%);
			}
		}
		
		.drag-overlay{
			display: none;
		}

		&.dz-drag-hover{

			.drag-overlay{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($brand-primary, 0.65);
				z-index: 200;
				border: 10px dashed $brand-primary;
				color: #FFF;
				display: block;
				pointer-events:none;

				.message{
					font-weight: 300;
					font-size: 45px;
					text-align: center;
					position: relative;
				    top: 50%;
				    -webkit-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				    transform: translateY(-50%);
				    padding: $line-height-computed;

				}
			}
		}


		.file.entry:first-child{
			//border-top: 1px $divider solid;
		}
		.file.entry{
			margin-left: 0;
			margin-right: 0;
			//border-bottom: 1px $divider solid;
			//line-height: $line-height-computed * 3;
			//padding: 5px 0;
			clear: both;
			//cursor: grab;
			//cursor: pointer;

			>div{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.tools{
				text-align: right;
			}

			&.active{
				background-color: darken($body-bg, 20%);

				&:hover{
					background-color: darken($body-bg, 20%);
				}
			}

			// &:hover{
			// 	background-color: lighten($body-bg, 5%);
			// }

			.file-info{

				.title{
					font-weight: bold;
					font-size: $font-size-large;
				}

				.file-name{
					font-size: $font-size-base;
					color: mix(#000, $body-bg, 30%);
				}

				.title{
					font-weight: bold;
					font-size: $font-size-base;
				}

				.file-name{
					font-size: $font-size-small;
					color: mix(#000, $body-bg, 30%);
				}
			}

			.control{

				font-size: 18px;

				button, a{
					background-color: $body-bg;
					color: $brand-primary;

					&:hover{
						background-color: #FFF;
						color: $brand-primary;
					}
				}
			}
		}
		.file-panel{
			width: 50%;
			height: 100%;
			background-color: darken($body-bg, 20%);
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 15px;
			display: none;

			button.close{
				margin-top: $line-height-computed / 2;
				font-size: 30px;
			}

			.thumb{
				width: 100%;
				height: 70px;
				background-color: darken($body-bg, 10%);
				margin-bottom: $line-height-computed / 2;
				text-align: center;

			}

			&.active{
				display: block;
			}
		}
	
	// &.grid{
	// 	.file.entry{
	// 		border-bottom: none;
	// 		padding: 0;
	// 		clear: none;
	// 		width: 200px;
	// 		height: 200px;
	// 		float: left;
	// 		margin: $line-height-computed / 2;
	// 		margin-bottom: $line-height-computed;
	// 		overflow: hidden;
	// 		padding: $line-height-computed / 2;
	// 		background-color: darken($body-bg, 5%);

	// 		.thumb{
	// 			width: 100%;
	// 			height: 70%;
	// 			float: none;
	// 			text-align: center;
	// 			position: relative;
	// 			background-color: transparent;

	// 			.icon{
	// 				font-size: 100px;
	// 				margin-top: 20px;
	// 				color: lighten($text-color, 25%);
	// 			}

	// 			.file-type{
	// 				position: absolute;
	// 				top: 80px;	
	// 				width: 100%;
	// 				font-size: 22px;
	// 				text-transform: uppercase;
	// 				font-weight: bold;
	// 				// color: lighten($text-color, 10%);
	// 			}
	// 		}

	// 		.file-info{
	// 			padding-top: 10px;
	// 			text-align: center;
	// 			// text-overflow: ellipsis;
	// 			white-space: normal;
	// 			overflow: hidden;
				
	// 			.file-title{
	// 				// text-overflow: ellipsis;
	// 				// width: 180px;
	// 				// white-space: nowrap;
	// 				// overflow: hidden;
	// 			}

	// 			.file-name{
	// 				// display: none;
	// 			}
	// 		}
	// 		&:hover{
	// 			background: #FFF;
	// 		}
	// 	}
	// }

}


.user-nav{
	height: 100%;

	.section-header{

		padding: $line-height-computed / 4 0;
		border-bottom: 1px solid $divider;


		.header-title{
			margin: 0;
			padding-top: 20px;
			line-height: 20px;
		}
		
	}
}

.entry-list{
	padding-left: 0;
	font-size: $font-size-base;
	margin-bottom: 0;
	padding-bottom: 0;

	>li, .section-heading{
		list-style: none;
		line-height: 25px;
		border-bottom: 1px solid $divider;
		padding: 2px 0;
	}

	.entry{

		position: relative;

		>a{
			display: block;
		}
		&.opened{
			background-color: $body-bg;
			.control{
				.open-detail{
					display: none;
				}
				.close-detail{
					display: block;
				}
			}
		}

		.icon{
			display: inline-block;
		}
	}
}

.entry{
	position: relative;
	.control{
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: $line-height-computed / 4;
		top: 2px;
		font-size: 16px;
		//transform: translate(0, -50%);

		button, a{

			//background-color: #7DA3C0;
			height: 22px;
			width: 22px;
			border-radius: 11px;
			display: block;
			float: left;
			margin-left: 3px;
			color: $brand-primary;
			transition: all .3s;
			text-align: center;

			&:hover{
				background-color: #FFF;
				color: $brand-primary;
			}
		}

		.open-detail{
			display: block;
		}
		.close-detail{
			background-color: #FFF;
			display: none;
		}
		.toggle-collapse{
			transition: transform .3s;
		}
	}

	&.active{
		.control{
			button, a{
				background-color: #FFF;
				color: $brand-primary;
			}
		}
	}

	&:hover{
		.control{
			opacity: 1;
			display: block;
			pointer-events: inherit;
		}
	}
}

ul.folder-tree{
	padding-left: 0;
	font-size: $font-size-base;

	li{
		list-style: none;
		border-left: 1px solid $divider;
		position: relative;

		.control{
			position: absolute;
			top: 10px;
			right: 0;
			opacity: 0;
			//transition: all .3s;
		}

		&>.entry:hover{
			>.control{
				opacity: 1;
			}
		}

		.toggle-btn{
			display: inline;
			border-radius: $border-radius-base;
			padding: 5px;
			padding-left: 15px;
		}

		overflow: hidden;

		&.has-child, &.has-child .entry{
			>a{
				padding-left: 7px;
			}
			>a .toggle-btn{
				background-image: url(../img/toggleArrowRight.svg);
				background-size: 7px;
				background-repeat: no-repeat;
				background-position: center left 5px;

				&:hover{
					background-color: rgba(255,255,255,.3);
					// background-color: darken($body-bg, 10%);
				}
			}

			>ul{
				height: 0;
				transition: opacity .2s;
				opacity: 0;
			}

			&.opened{

				>ul{
					height: auto;
					opacity: 1;
				}
				>a .toggle-btn{
					background-image: url(../img/toggleArrowDown.svg);
				}
			}
		}


		a, .entry a{
			color: inherit;
			line-height: $line-height-computed * 2;
			display: block;
			padding-left: $line-height-computed / 2;

			&:hover{
				text-decoration: none;
				background-color: darken($body-bg, 5%);
			}

			&.active{
				background-color: $body-bg;
				font-weight: bold;

				&:hover{
					background-color: darken($body-bg, 2%);
				}
			}

			&.drop-target-hover{
				background-color: darken($brand-primary, 10%);
			}
		}
	}

	>li{
		border-left: none;
	}
	// ul{
	// 	display: block;
	// 	padding-left: $line-height-computed;
	// }
}

.userfolder.entry {
	.frontend-settings{
		text-align: right; 

		.setting-title{
			color: rgba(0,0,0,.3);
		}
	}
}


.dashboard-list{
	.app-col-body{
		padding: $line-height-computed / 2;

		.entry{
			border-bottom: $divider 1px solid;

			.title{
				font-weight: bold;
			}

			.relations-list{
				list-style: none;
				opacity: .5;
				font-size: 12px;
			}
		}
	}
}

.app-col-body{
	.upload-info-box{
		//height: 50px;
		background-color: rgba(0,0,0,.8);
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 100;
		padding: $line-height-computed;

		.progress-bar-title{
			position: absolute;
			padding-left: $line-height-computed / 2;
			font-size: 12px
		}

		.progress{
			background: rgba(255,255,255,.15);
		}
	}
}