$page-header-height: $line-height-computed * 2 !default;

.page-header{
	padding: 0;
	margin: 0;
	border: none;
	height: $page-header-height;
	display: table;
	padding-left: $line-height-computed / 2;
	width: 100%;
	color: $backend-header-color;

	.breadcrumbs, .backend-user-actions{
		display: table-cell;
		vertical-align: middle;
	}

	.backend-user-actions{
		text-align: right;

	}
}