@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-hkn08t');
	src:url('../../fonts/icomoon.eot?#iefix-hkn08t') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-hkn08t') format('woff'),
		url('../../fonts/icomoon.ttf?-hkn08t') format('truetype'),
		url('../../fonts/icomoon.svg?-hkn08t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-plus:before {
	content: "\e635";
}
.icon-folder-plus:before {
	content: "\e636";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list:before {
	content: "\f03a";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-photo-o:before {
	content: "\f1c5";
}
.icon-file-zip-o:before {
	content: "\f1c6";
}
.icon-file-sound-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-folder:before {
	content: "\e059";
}
.icon-box:before {
	content: "\e079";
}
.icon-arrow-left:before {
	content: "\e094";
}
.icon-arrow-right:before {
	content: "\e095";
}
.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-loader:before {
	content: "\e105";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-menu:before {
	content: "\e120";
}
.icon-inbox:before {
	content: "\e122";
}
.icon-outbox:before {
	content: "\e123";
}
.icon-home:before {
	content: "\e637";
}
.icon-user:before {
	content: "\e600";
}
.icon-users:before {
	content: "\e601";
}
.icon-spinner:before {
	content: "\e602";
}
.icon-spinner2:before {
	content: "\e603";
}
.icon-spinner3:before {
	content: "\e604";
}
.icon-spinner4:before {
	content: "\e605";
}
.icon-spinner5:before {
	content: "\e606";
}
.icon-spinner6:before {
	content: "\e607";
}
.icon-play:before {
	content: "\e608";
}
.icon-pause:before {
	content: "\e609";
}
.icon-stop:before {
	content: "\e60a";
}
.icon-arrow-up-left:before {
	content: "\e60b";
}
.icon-arrow-up2:before {
	content: "\e60c";
}
.icon-arrow-up-right:before {
	content: "\e60d";
}
.icon-arrow-right2:before {
	content: "\e60e";
}
.icon-arrow-down-right:before {
	content: "\e60f";
}
.icon-arrow-down2:before {
	content: "\e610";
}
.icon-arrow-down-left:before {
	content: "\e611";
}
.icon-arrow-left2:before {
	content: "\e612";
}
.icon-arrow-up-left2:before {
	content: "\e613";
}
.icon-arrow-up22:before {
	content: "\e614";
}
.icon-arrow-up-right2:before {
	content: "\e615";
}
.icon-arrow-right22:before {
	content: "\e616";
}
.icon-arrow-down-right2:before {
	content: "\e617";
}
.icon-arrow-down22:before {
	content: "\e618";
}
.icon-arrow-down-left2:before {
	content: "\e619";
}
.icon-arrow-left22:before {
	content: "\e61a";
}
.icon-checkbox-checked:before {
	content: "\e61b";
}
.icon-checkbox-unchecked:before {
	content: "\e61c";
}
.icon-user2:before {
	content: "\e61d";
}
.icon-users2:before {
	content: "\e61e";
}
.icon-user-add:before {
	content: "\e61f";
}
.icon-list2:before {
	content: "\e620";
}
.icon-layout:before {
	content: "\e621";
}
.icon-list3:before {
	content: "\e622";
}
.icon-play2:before {
	content: "\e638";
}
.icon-pause2:before {
	content: "\e639";
}
.icon-record:before {
	content: "\e63a";
}
.icon-stop2:before {
	content: "\e63b";
}
.icon-next:before {
	content: "\e63c";
}
.icon-previous:before {
	content: "\e63d";
}
.icon-first:before {
	content: "\e63e";
}
.icon-last:before {
	content: "\e63f";
}
.icon-resize-enlarge:before {
	content: "\e640";
}
.icon-resize-shrink:before {
	content: "\e641";
}
.icon-volume:before {
	content: "\e642";
}
.icon-sound:before {
	content: "\e643";
}
.icon-mute:before {
	content: "\e644";
}
.icon-arrow-left3:before {
	content: "\e623";
}
.icon-arrow-down3:before {
	content: "\e624";
}
.icon-arrow-up3:before {
	content: "\e625";
}
.icon-arrow-right3:before {
	content: "\e626";
}
.icon-arrow-left4:before {
	content: "\e627";
}
.icon-arrow-down4:before {
	content: "\e628";
}
.icon-arrow-up4:before {
	content: "\e629";
}
.icon-arrow-right4:before {
	content: "\e62a";
}
.icon-arrow-left5:before {
	content: "\e62b";
}
.icon-arrow-down5:before {
	content: "\e62c";
}
.icon-arrow-up5:before {
	content: "\e62d";
}
.icon-arrow-right5:before {
	content: "\e62e";
}
.icon-arrow-left6:before {
	content: "\e62f";
}
.icon-arrow-down6:before {
	content: "\e630";
}
.icon-arrow-up6:before {
	content: "\e631";
}
.icon-uniE632:before {
	content: "\e632";
}
.icon-menu2:before {
	content: "\e633";
}
.icon-ellipsis:before {
	content: "\e634";
}

