body {
  background-color: #FFF;
  padding: 0;
  margin: 0;
  font-family: Open Sans, Sans Serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
  outline: 0;
  text-decoration: none;
}

.download-checkbox-all-container {
  position: absolute;
  top: -20px;
  right: 0;
}

.userfolder-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .15s;
          transition: all .15s;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  color: rgba(255, 255, 255, 0.23);
  text-align: right;
  box-sizing: border-box;
}
.userfolder-actions.visible {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.btn {
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 0px 7px;
  text-transform: uppercase;
  background-color: white;
}
.btn:hover {
  background-color: #e6e6e6;
}
.btn:active {
  background-color: #cccccc;
}

.clear {
  clear: both;
}

.header, .main {
  width: 100%;
}

.main {
  padding-bottom: 200px;
}

.size-l .table-header {
  padding-right: 26px;
  position: absolute;
  bottom: 0;
  display: none;
}
.size-l .table-header .file-list {
  border-top: none;
  border-bottom: 1px solid #d6d6d6;
}
.size-l .header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white;
}
.size-l .header .project-infos {
  padding-bottom: 0;
}
.size-l .header .control {
  bottom: 3px;
}

.table-header {
  padding-right: 26px;
  position: fixed;
  top: 100px;
  background: white;
  z-index: 9;
}
.table-header .file-list {
  border-bottom: 1px solid #d6d6d6;
}

.header {
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: white;
  padding: 0 26px;
  box-sizing: border-box;
}
.header .header-bar {
  height: 25px;
  background-color: #49a6d7;
  margin-left: -26px;
  margin-right: -26px;
}
.header .header-content {
  height: 75px;
  border-bottom: 1px solid #CCC;
}
.header .control {
  position: absolute;
  bottom: 3px;
  right: 26px;
  text-align: right;
}
.header .control .sort-switch {
  height: 20px;
  position: relative;
  width: 180px;
  text-align: left;
  float: right;
}
.header .control .sort-switch .option-list {
  position: absolute;
  width: 180px;
  top: 0;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  background: #f4f4f4;
  -webkit-transition: height .3s;
          transition: height .3s;
  z-index: 20;
}
.header .control .sort-switch .option-list:hover {
  height: 63px;
}
.header .control .sort-switch .option-list a {
  font-size: 14px;
  position: relative;
  display: block;
  color: #666666;
  text-decoration: none;
  padding-left: 10px;
  border-bottom: 1px solid #d6d6d6;
  box-sizing: border-box;
}
.header .control .sort-switch .option-list a i.arrow {
  position: absolute;
  right: 5px;
  margin-top: 3px;
}
.header .control .sort-switch .option-list a:hover {
  background: #e9e9e9;
}
.header .control .view-switch {
  float: right;
}
.header .control .view-switch a {
  font-size: 20px;
  color: #b2b2b2;
  text-decoration: none;
  margin-left: 5px;
}
.header .control .view-switch a.active {
  color: #666666;
}

.logo > img {
  height: 16px;
  margin-left: 26px;
  margin-top: 5px;
  opacity: .5;
}

.file-list-header, .file-list-entry {
  width: 100%;
  border-bottom: 1px solid #d6d6d6;
  display: table;
  table-layout: fixed;
}

.file-list-header {
  border-bottom: none;
  padding-top: 10px;
  font-size: 11px;
}

.file-list .file-title, .file-list .file-name {
  font-size: 13px;
  font-family: Open Sans, Sans Serif;
}
.file-list .file-description {
  font-family: Open Sans, Sans Serif;
  color: gray;
  font-size: 11px;
}
.file-list .thumb-container .file-type {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #b3b3b3;
}

.file-list.size-m, .file-list.size-s {
  /*  */
}
.file-list.size-m .col-thumb, .file-list.size-s .col-thumb {
  width: 120px;
  padding-right: 10px;
}
.file-list.size-m .col-note, .file-list.size-s .col-note {
  width: 20%;
}
.file-list.size-m .col-length, .file-list.size-s .col-length {
  width: 0px;
}
.file-list.size-m .col-date, .file-list.size-s .col-date {
  width: 120px;
  text-align: right;
}
.file-list.size-m .col-date .secondary, .file-list.size-s .col-date .secondary {
  color: #7f7e7e;
  font-size: 9px;
  padding-left: 5px;
}
.file-list.size-m .col-size, .file-list.size-s .col-size {
  width: 120px;
  text-align: right;
}
.file-list.size-m .col.col-download-button, .file-list.size-s .col.col-download-button {
  width: 135px;
  text-align: right;
  font-size: 13px;
}
.file-list.size-m .col-download-checkbox, .file-list.size-s .col-download-checkbox {
  width: 20px;
  padding-left: 10px;
}
.file-list.size-m .thumb-container, .file-list.size-s .thumb-container {
  height: 67px;
  overflow: hidden;
  width: 120px;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
}
.file-list.size-m .thumb-container .file-type, .file-list.size-s .thumb-container .file-type {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #b3b3b3;
}
.file-list.size-m .thumb-container img, .file-list.size-s .thumb-container img {
  height: 100%;
}
.file-list.size-m .col, .file-list.size-s .col {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  font-size: 11px;
}
.file-list.size-m .file-list-entry, .file-list.size-s .file-list-entry {
  height: 90px;
}

.file-list.size-s .thumb-container {
  height: 30px;
  overflow: hidden;
  width: 20px;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
  /*  */
}
.file-list.size-s .thumb-container .file-type {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  color: #b3b3b3;
}
.file-list.size-s .thumb-container .col {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.file-list.size-s .col-name {
  font-size: 13px;
}
.file-list.size-s .col-download-button {
  font-size: 13px;
}
.file-list.size-s .col-thumb {
  width: 20px;
  padding-right: 10px;
}
.file-list.size-s .file-list-entry {
  height: 30px;
  border-bottom: 1px solid #d6d6d6;
}
.file-list.size-s .file-list-entry .icon.play {
  display: none;
}
.file-list.size-s .file-list-entry .icon.filetype {
  display: block;
}
.file-list.size-s .file-list-entry.video:hover .icon.play {
  display: block;
}
.file-list.size-s .file-list-entry.video:hover .icon.filetype {
  display: none;
}

.file-list.size-m .col-note {
  display: none;
}
.file-list.size-m .file-list-entry {
  padding: 5px 0;
}
.file-list.size-m .thumb-container.video {
  background-color: black;
  position: relative;
}
.file-list.size-m .thumb-container.video img {
  width: 100%;
  height: auto;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  position: absolute;
}
.file-list.size-m .file-list-entry .overlay {
  display: none;
}
.file-list.size-m .file-list-entry:hover .overlay {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /* z-index: 20; */
  position: absolute;
  font-size: 200px;
  text-align: center;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
  cursor: pointer;
  top: 0;
}
.file-list.size-m .file-list-entry:hover .overlay .play-icon {
  text-align: center;
  width: 100%;
  font-size: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color .3s;
          transition: color .3s;
  pointer-events: none;
}
.file-list.size-m .overlay:hover {
  background-color: transparent;
}
.file-list.size-m .overlay:hover .play-icon {
  color: rgba(255, 255, 255, 0.3);
}

.file-list.size-l {
  position: relative;
}
.file-list.size-l .file-name {
  padding: 5px 0 0;
}
.file-list.size-l .file-description {
  padding-bottom: 5px;
  font-size: 11px;
}
.file-list.size-l .col {
  display: none;
}
.file-list.size-l .file-list-entry {
  width: 375px;
  height: 290px;
  float: left;
  margin-right: 35px;
  margin-top: 20px;
  border-bottom: 1px solid #d6d6d6;
}
.file-list.size-l .file-list-entry .thumb-container.video {
  background: black;
}
.file-list.size-l .file-list-entry .thumb-container {
  background-image: url(../../img/download_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 210px;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}
.file-list.size-l .file-list-entry .thumb-container img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.file-list.size-l .file-list-entry .thumb-container .file-description {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.file-list.size-l .file-list-entry .thumb-container .overlay {
  height: 100%;
  width: 100%;
  background-color: transparent;
  /* z-index: 20; */
  position: relative;
  font-size: 60px;
  text-align: center;
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
  cursor: pointer;
}
.file-list.size-l .file-list-entry .thumb-container .overlay .play-icon {
  text-align: center;
  width: 100%;
  font-size: 60px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0);
  -webkit-transition: color .3s;
          transition: color .3s;
  pointer-events: none;
}
.file-list.size-l .file-list-entry .thumb-container .overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.file-list.size-l .file-list-entry .thumb-container .overlay:hover .play-icon {
  color: rgba(255, 255, 255, 0.6);
}
.file-list.size-l .file-list-entry .file-info-container {
  position: relative;
  height: 90px;
}
.file-list.size-l .file-list-entry .file-info-container .download-button {
  margin: 5px 0 0;
  display: inline-block;
}
.file-list.size-l .file-list-entry .file-info-container .download-checkbox {
  position: absolute;
  top: 5px;
  right: 0px;
}

.main .content {
  padding-left: 26px;
  padding-right: 26px;
  width: 100%;
  box-sizing: border-box;
}

.project-infos {
  padding-left: 225px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 295px;
  position: absolute;
  bottom: 0px;
  font-size: 18px;
}
.project-infos .project-info.project-name {
  font-size: 25px;
  display: block;
}
.project-infos .project-info {
  font-size: 14px;
  display: inline;
  padding-right: 17px;
  font-family: 'Open Sans Condensed', Open Sans, Sans Serif;
  font-weight: bold;
}
.project-infos .project-info .label {
  color: #a2a2a2;
}

.logo, .nav, .content, .project-infos {
  float: left;
}

.logo, .nav {
  width: 225px;
  float: left;
}

.left-col {
  height: 100%;
  width: 225px;
  float: left;
  position: fixed;
  padding-top: 128px;
}

.content-col {
  box-sizing: border-box;
  padding-left: 225px;
  padding-top: 135px;
}

.nav {
  font-size: 16px;
  min-height: 100px;
  font-family: 'Open Sans Condensed', Open Sans, Sans Serif;
  font-weight: bold;
}
.nav li {
  padding-left: 26px;
}
.nav a {
  color: inherit;
  text-decoration: none;
  padding: 3px 6px 3px 20px;
  display: inline-block;
  color: gray;
}
.nav a:hover {
  color: #666666;
}
.nav a.active {
  color: #000;
  background-image: url(../img/nav_indicator.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: left center;
}
.nav ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0;
}
.nav ul li {
  padding-bottom: 8px;
}
.nav ul li > ul {
  border-left: 2px solid black;
  padding-left: 18px;
  margin-left: 14px;
}

.video-overlay {
  display: none;
}

.video-overlay.active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.92);
  top: 0;
  overflow: auto;
  z-index: 40;
}
.video-overlay.active .video {
  width: 1000px;
  margin: 100px auto;
  background-color: black;
  position: relative;
}
.video-overlay.active .video .close {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -30px;
}
.video-overlay.active .video .close:hover {
  color: white;
}
.video-overlay.active .video video {
  width: 100%;
  height: auto;
}

.logout {
  position: absolute;
  right: 26px;
  top: 2px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.logout a {
  margin-left: 15px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.logout a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.project-thumb {
  position: absolute;
  left: 26px;
  bottom: 7px;
}
.project-thumb img {
  height: 30px;
}

.icon {
  background-image: url(../../img/iconSprite.svg);
  width: 16px;
  height: 16px;
  background-position: -192px 0;
}

.icon.play {
  background-position: -384px -64px;
}

.icon.m4a, .icon.mov, .icon.mp4, .icon.webm {
  background-position: -256px -32px;
}

.icon.png, .icon.svg, .icon.jpg {
  background-position: -160px -32px;
}

.icon.wav, .icon.mp3, .icon.ogg {
  background-position: -224px -32px;
}
