$left-col-width: 225px !default;
$header-height: 100px;
$thumb-width: 120px !default;
$name-width: 100px !default;
$note-width: 100px !default;
$length-width: 0px !default;
$date-width: 120px !default;
$size-width: 120px !default;
$download-button-width: 135px !default;
$download-checkbox-width: 20px !default;
$app-side-padding: 20px !default;
$secondary-text-color: darken(#FFF, 50%) !default;
$app-side-padding: 26px;

$icon-sprite-grid: 32px !default;
$icon-size: 16px !default;

body{
	background-color: #FFF;
	padding: 0;
	margin: 0;

	font-family: Open Sans, Sans Serif;
	// font-family: 'Open Sans Condensed', Open Sans, Sans Serif;
	font-size: 14px;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
    outline: 0;
    text-decoration: none;
}

.download-checkbox-all-container{
	position: absolute;
	top: -20px;
	right: 0;
}

.userfolder-actions{
	position: fixed;
  bottom: 0;
  width: 100%;
  // height: 50px;
  padding: 15px;
  padding-right: 60px;
  background-color: rgba(0,0,0,.8);
  transition: all .15s;
  transform: translate3d(0, 50px, 0);
  color: rgba(255,255,255,.23);
  text-align: right;
  box-sizing: border-box;

  &.visible{
  	transform: translate3d(0, 0, 0);
  }
}

.btn{
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	padding: 0px 7px;
	text-transform: uppercase;
	background-color: white;

	&:hover{
		background-color: darken(#FFF, 10%);
	}
	&:active{
		background-color: darken(#FFF, 20%);
	}
}

.clear{
	clear: both;
}

.header, .main{
	width: 100%;
}
.main{
	// padding-top: 200px;
	padding-bottom: 200px;
}

.size-l{
	.table-header{
		padding-right: $app-side-padding;
		position: absolute;
		bottom: 0;
		display: none;

		.file-list{
			border-top: none;
			border-bottom: 1px solid #d6d6d6;
		}
	}
	.header{
		
		position: fixed;
		width: 100%;
		z-index: 10;
		background: white;

		.project-infos{
			// height: 130px;
			padding-bottom:0;
		}


		.control{
			bottom: 3px;
		}
	}
}

.table-header{
	padding-right: $app-side-padding;
	position: fixed;
	top: $header-height;
	background: white;
	z-index: 9;

	.file-list{
		border-bottom: 1px solid #d6d6d6;
	}
}
.header{

	height: $header-height;
	position: fixed;
	width: 100%;
	z-index: 10;
	background: white;
	padding: 0 $app-side-padding;
	box-sizing: border-box;

	.header-bar{
		height: 25px;
		// background-color: #d6d6d6;     
		// background-color: #818181;
		background-color: #49a6d7;
		margin-left: -$app-side-padding;            
		margin-right: -$app-side-padding;            
	} 

	.header-content{
		height: 75px;
		border-bottom: 1px solid #CCC;
	}

	.control{

		position: absolute;
		bottom: 3px;
		right: $app-side-padding;
			text-align: right;
		.sort-switch{
			height: 20px;
			position: relative;
			width: 180px;
			text-align: left;
			float: right;

			.option-list{
				position: absolute;
				width: 180px;
				top: 0;
				height: 20px;
				overflow: hidden;
				line-height: 20px;
				background: rgb(244,244,244);
				transition: height .3s;
				z-index: 20;

				&:hover{
					height: 63px;
				}

				a{
					font-size: 14px;
					position: relative;
					display: block;
					//font-size: 12px;
					color: darken(#FFF, 60%);
					text-decoration: none;
					padding-left: 10px;
					border-bottom: 1px solid #d6d6d6;
					box-sizing: border-box;
					i.arrow{
						position: absolute;
						right: 5px;
						margin-top: 3px;
					}
					&:hover{
						
						background: rgb(233,233,233);
					}
				}
			}
		}
		.view-switch{
			float: right;
			a{
				font-size: 20px;
				color: #b2b2b2;
				text-decoration: none;
				margin-left: 5px;

				&.active{
					color: #666666;
				}
			}
		}
	}
}

.logo{
	>img{
		height: 16px;
		margin-left: $app-side-padding;
		margin-top: 5px;
		opacity: .5;
	}
}

.file-list-header, .file-list-entry{
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
	display: table;
	table-layout: fixed;
}

.file-list-header{
	border-bottom: none;
	padding-top: 10px;
	font-size: 11px;
}

.file-list{
	.file-title, .file-name{
		font-size: 13px;
		font-family: Open Sans, Sans Serif;
	}
	.file-description{
		font-family: Open Sans, Sans Serif;
		color: $secondary-text-color;
		font-size: 11px;
	}
	.thumb-container{

		.file-type{
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 12px;
			color: darken(#FFF, 30%);
		}
	}
}

.file-list.size-m, .file-list.size-s{
	// font-size: 24px;
	

	.col-thumb{width: $thumb-width; padding-right: 10px;}
	// .col-name{width: $name-width;}
	.col-note{width: 20%;}
	//.col-name, .col-note{width: calc(50% - #{$thumb-width} - #{$date-width} - #{$size-width} - #{$download-button-width} - #{$download-checkbox-width});}
	.col-length{width: $length-width;}
	.col-date{
		width: $date-width; text-align: right;
		.secondary{
			color: #7f7e7e;
			font-size: 9px;
			padding-left: 5px;
		}
	}
	.col-size{width: $size-width; text-align: right;}
	.col.col-download-button{width: $download-button-width; text-align: right; font-size: 13px;}
	.col-download-checkbox{
		width: $download-checkbox-width;
		padding-left: 10px;
	}

	.thumb-container{
		height: 67px;
		overflow: hidden;
		width: $thumb-width; 
		text-align: center;
		background-color: darken(#FFF, 5%);
		position: relative;

		.file-type{
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 12px;
			color: darken(#FFF, 30%);
		}

		img{
			height: 100%;
		}
	}

	.col{
		display: table-cell;
		vertical-align: middle;
		overflow: hidden;
		font-size: 11px;

	}/*  */

	.file-list-entry{
		height: 90px;
	}
}

.file-list.size-s{
	.thumb-container{
		height: 30px;
		overflow: hidden;
		width: 20px; 
		text-align: center;
		background-color: darken(#FFF, 5%);
		position: relative;

		.file-type{
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 12px;
			color: darken(#FFF, 30%);
		}

		.col{
			display: table-cell;
			vertical-align: middle;
			overflow: hidden;
		}/*  */
	}
	.col-name{
		font-size: 13px;
	}
	.col-download-button{
		font-size: 13px;
	}
	.col-thumb{width: 20px; padding-right: 10px;}
	.file-list-entry{
		height: 30px;
		border-bottom: 1px solid #d6d6d6;

		.icon.play{
			display: none;
		}
		.icon.filetype{
			display: block;
		}

		&.video:hover{
			.icon.play{
				display: block;
			}
			.icon.filetype{
				display: none
			}
		}
	}
}

.file-list.size-m{

	.col-note{
		display: none;
	}
	.file-list-entry{
		padding: 5px 0;
	}

	.thumb-container.video {
		background-color: black;
		position: relative;

		img{
			width: 100%;
			height: auto;
			top: 50%;
			left: 0;
			-webkit-transform: translateY(-50%);
			 -ms-transform: translateY(-50%);
			 transform: translateY(-50%);
			 color: white;
			 position: absolute;
		}
	}

	.file-list-entry .overlay{
		display: none;
	}

	.file-list-entry:hover .overlay{
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.1);
		/* z-index: 20; */
		position: absolute;
		font-size: 200px;
		text-align: center;
		transition: background-color .3s;
		cursor: pointer;
		top: 0;

		.play-icon{
			text-align: center;
			width: 100%;
			font-size: 50px;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			 -ms-transform: translateY(-50%);
			 transform: translateY(-50%);
			color: rgba(255,255,255,.6);
			transition: color .3s;
			pointer-events: none;
		}
	}

	.overlay:hover{
		background-color: rgba(0,0,0,0);
		.play-icon{
			 color: rgba(255,255,255,.3);
		}
	}
}

.file-list.size-l{
	position: relative;
	.file-name{
		padding: 5px 0 0;
	}
	.file-description{
		padding-bottom: 5px;
		font-size: 11px;
	}
	.col{
		display: none;
	}
	.file-list-entry{
		width: 375px;
		height: 290px;
		float: left;
		margin-right: 35px;
		margin-top: 20px;
		border-bottom: 1px solid #d6d6d6;
		//line-height: 30px;

		.thumb-container.video{
			background: black;
		}

		.thumb-container{
			background-image: url(../../img/download_bg.svg);
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 210px;
			position: relative;
			overflow: hidden;
			background-color: darken(#FFF, 5%);

			img{
				position: absolute;
				top: 50%;
				width: 100%;
				-webkit-transform: translateY(-50%);
				 -ms-transform: translateY(-50%);
				 transform: translateY(-50%);
			}

			.file-description{
				position: absolute;
				right: 5px;
				bottom: 5px;
			}

			.overlay{
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0);
				/* z-index: 20; */
				position: relative;
				font-size: 60px;
				text-align: center;
				transition: background-color .3s;
				cursor: pointer;

				.play-icon{
					text-align: center;
					width: 100%;
					font-size: 60px;
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					 -ms-transform: translateY(-50%);
					 transform: translateY(-50%);
					 color: rgba(255,255,255,0);
					transition: color .3s;
					pointer-events: none;
				}
			}

			.overlay:hover{
				background-color: rgba(0,0,0,.1);
				.play-icon{
					 color: rgba(255,255,255,.6);
				}
			}

		}

		.file-info-container{
			position: relative;
			height: 90px;
			.download-button{
				margin: 5px 0 0;
				display: inline-block;
			}
			.download-checkbox{
				position: absolute;
				top: 5px;
				right: 0px;
			}
		}
	}
	
}
.main{
	.content{

		padding-left: $app-side-padding;
		padding-right: $app-side-padding;
		width: 100%;
		box-sizing: border-box;

		
	}
}

.project-infos{

	padding-left: $left-col-width;
	// padding-top: 70px;
	box-sizing: border-box;
	width: 100%;
	padding-right: 295px;
	position: absolute;
	bottom: 0px;
	font-size: 18px;

	.project-info.project-name{
		font-size: 25px;
		display: block;
	}

	.project-info{
		font-size: 14px;
		display: inline;
		padding-right: 17px; 
		font-family: 'Open Sans Condensed', Open Sans, Sans Serif;
		// font-size: 24px;
		font-weight: bold;

		.label{
			// text-transform: uppercase;
			color: #a2a2a2;
		}
	}
}

.logo, .nav, .content, .project-infos{
	float: left;
}

.logo, .nav{
	width: $left-col-width;
	float: left;
}

.logo, .project-infos{
	// height: 150px;
}

.left-col{
	// background-color: #d6d6d6;
	height: 100%;
	width: $left-col-width;
	float: left;
	position: fixed;
	padding-top: $header-height + 28px;
}

.content-col{
	box-sizing: border-box;
	padding-left: $left-col-width;
	padding-top: $header-height + 35px;
}

.left-col, .content-col{
}

.nav{
	font-size: 16px;
	//margin-top: -40px;
	min-height: 100px;
	// font-size: 24px;
	font-family: 'Open Sans Condensed', Open Sans, Sans Serif;
	// font-size: 24px;
	font-weight: bold;

	li{
		padding-left: $app-side-padding;
	}

	a{
		color: inherit;
		text-decoration: none;
		// display: block;
		// line-height: 32px;
		padding: 3px 6px 3px 20px; 
		display: inline-block;
		// opacity: .5;
		color: lighten(#000, 50%);

		&:hover{
		color: lighten(#000, 40%);
		}

		&.active{
			color: #000;
			background-image: url(../img/nav_indicator.svg);
			background-size: 12px 12px;
    	background-repeat: no-repeat;
    	background-position: left center;
		}

	}

	ul{
		list-style: none;
		padding-left: 0px;
		margin-left: 0px;
		margin-top: 0;

		li{
		padding-bottom: 8px;
			>ul{
				border-left: 2px solid black;
				padding-left: 18px;
				margin-left: 14px;
			}

		}


	}

}
.video-overlay{
	display: none;
}
.video-overlay.active{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.92);
	top: 0;
	overflow: auto;
	z-index: 40;


	.video{
		width: 1000px;
		margin: 100px auto;
		// height: 626px;
		background-color: black;
		position: relative;
		.close{
			color: rgba(255,255,255,.5);
			font-size: 20px;
			cursor: pointer;
			position: absolute;
			top: 0px;
			right: -30px;

			&:hover{
				color: rgba(255,255,255,1);
			}
		}
		video{
			width: 100%;
			height: auto;
		}
	}
		
}

.logout{
	position: absolute;
	right: $app-side-padding;
	top: 2px;
	// color: darken(#FFF, 30%); 
	color: rgba(255,255,255,.5); 
	font-size: 14px;

	a{
		margin-left: 15px;
		font-weight: bold;
		// color: black;
		color: rgba(255,255,255,.5); 
		text-decoration: none;
		//font-family: 'Open Sans Condensed', Open Sans, Sans Serif;

		&:hover{
		  color: rgba(255,255,255,.8); 
		}
	}
}

.project-thumb{
	position: absolute;
	left: $app-side-padding;
	bottom: 7px;

	img{
		height: 30px;
	}
}

.icon{
	background-image: url(../../img/iconSprite.svg);
	width: $icon-size;
	height: $icon-size;
	background-position: (-$icon-sprite-grid*6) 0;
}

.icon.play{
	background-position: (-$icon-sprite-grid*12) (-$icon-sprite-grid*2);
}

.icon.m4a, .icon.mov, .icon.mp4, .icon.webm{
	background-position: (-$icon-sprite-grid*8) (-$icon-sprite-grid);
}

.icon.png, .icon.svg, .icon.jpg{
	background-position: (-$icon-sprite-grid*5) (-$icon-sprite-grid);
}
.icon.wav, .icon.mp3, .icon.ogg{
	background-position: (-$icon-sprite-grid*7) (-$icon-sprite-grid);
}