//@import "bootstrap";
@import "bootstrap/variables";
//@import "swiper";

$user-management-width: 600px !default;
$app-col-list-width: 250px !default;
$app-col-detail-width: 780px !default;
$app-col-header-height: $line-height-computed * 3 !default;
@import "stylemodules/page_header";
@import "stylemodules/layout";
@import "stylemodules/icon_sprite";
@import "stylemodules/file_tree";
@import "stylemodules/icons";
@import "stylemodules/drag_drop";
@import "stylemodules/breadcrumbs";
// @import "stylemodules/forms";

.clear{
	clear: both;
}

body{
	font-size: $font-size-base;
	background-color: #4B4B4B;
	// white-space: nowrap;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
    outline: 0;
    text-decoration: none;
}

button{
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	// color: #26589F;
	// font-family: 'PT Sans Narrow',sans-serif;
	// font-size: 16px;
	// font-weight: normal;
	// line-height: 1.42rem;
	// list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
}

.hidden{
	display: none !important;
}

// .user-management{
// 		width: $user-management-width;
// 		float: right;
// 		padding: 0 $grid-gutter-width / 2;
// 		box-sizing: border-box;
// 		height: 100%;

// 		.panel{
// 			// height: 100%;
// 			margin-top: 0;
// 			margin-bottom: 0;
// 			//overflow: auto;
// 		}

// 		.app-col{
// 			overflow: visible;

// 			.app-col-body{
// 				background-color: darken($body-bg, 10%); 
// 			}
// 		}
// 	}


.app-col-block{
	//float: left;
	transition: width .5s;
	// transition: opacity .3s;
	width: $app-col-list-width;
	//float: left;
	display: inline-block;;
	position: relative;
	overflow: hidden;
	margin-right: $line-height-computed / 2;
	top: 0;
	// opacity: 0;
	
	&.opened{
		width: $app-col-list-width + $app-col-detail-width;
		// opacity: 1;	
	}

}
	




.app-col{
	//height: 100%;
	overflow: auto;
	//float: left;
	width: $app-col-list-width;
	// padding-left: 2px;

	.app-col-header{
		background-color: $brand-primary;
		height: $app-col-header-height;
		padding: 0 $line-height-computed;
		display: table;
		width: 100%;
		overflow: hidden;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
		position: relative;
		z-index: 1001;
		
		.app-col-title{
			margin: 0;
			font-weight: 300;
			// text-transform: uppercase;
			color: white;
			display: table-cell; 
		    vertical-align: middle; 
		    font-size: $font-size-large;
		}

		.tool-bar{
			height: auto;
		
			button{
				transition: all .15s;
			}

			.add-file-btn{
				margin-right: $line-height-computed;
			}
		}

		a{
			text-decoration: underline;

			&.btn{
				text-decoration: none;
			}
		}

		.control{
			display: table-cell;
			vertical-align: middle;
			text-align: right;

			.control-item{
				display: inline-block;
				margin-left: $line-height-computed / 2;
			}
		}
	}

	

	

	.app-col-footer{
		padding: 0 $line-height-computed / 2;
		display: table;
		background-color: $brand-primary;
		width: 100%;
		height: $line-height-computed * 2;
		color: mix($brand-primary, #FFF, 70%);
		transition: all .2s;
		outline: none;

	}

	.tool-bar{
		display: table-cell; 
	    vertical-align: middle; 
		button.create{
			background-color: transparent;
			text-align: center;
			color: darken($brand-primary, 12%);
		}

		button.create:hover{
			background-color: white;
		}
	}

	&.app-col-list{
		// background-color: $brand-primary;
		//border: $line-height-computed / 2 $body-bg solid;
		background-color: darken($body-bg, 10%);
		//width: $app-col-list-width;
		padding-left: 0;
		padding-right: 0;

		// h3{
		// 	margin-right: $grid-gutter-width / 2;
		// }

		.app-col-body{
			padding-right: 0;
			padding-bottom: 2 * $line-height-computed;
		}
	}

	// &.folder-tree{
		


	// }

}

.user-block .app-col-detail .app-col-body{
	padding: 0;
	height: calc(100% - #{$app-col-header-height});
	// height: calc(100% - #{$line-height-computed * 6});
	overflow: auto;
}

.app-col-footer{
	color: mix($brand-primary, #FFF, 70%);
	transition: all .2s;
	outline: none;

	button.create{
		background-color: transparent;
		text-align: center;
		// height: 26px;
		// width: 26px;
		// border-radius: 13px;
	}

	button.create:hover{
		background-color: white;
	}
}

.file{
	z-index: 100;
}

.btn-clear{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}

.entry{
	

	
}

.project.entry.active{
	background-color: $brand-primary;
	a{
		color: #FFF;
	}
}

.entry-list .entry, .user.entry, .usergroup.entry{

	.header{
		//background-color: rgba(255,255,255,.6);
		background-color: mix($brand-primary, #FFF, 70%);

		border: 1px dashed transparent;
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
		box-sizing: border-box;
		position: relative;
		cursor: pointer;

		padding: 0 $line-height-computed / 4;

		transition: box-shadow .2s, background-color .2s;

		.control .toggle-collapse{
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);

			transform: rotate(180deg);
		}

		&.collapsed{
			background-color: transparent;
			box-shadow: 0px 0px 0px rgba(0,0,0,0);

			.control .toggle-collapse{
				-moz-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				-webkit-transform: rotate(0deg);

				transform: rotate(0deg);
			}

		}

		
		
	}
	&:hover{
		//background-color: white;
		background-color: mix($brand-primary, #FFF, 70%);
		// box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	}

	.collapse-body{
		padding: $line-height-computed / 4 $line-height-computed / 4 $line-height-computed / 2;
		background-color: mix($brand-primary, #FFF, 70%);

		// border: 1px solid black;
	}

	

}

.app-col-detail .entry.active{
	a{
		color: #FFF;
	}
}



.usergroup.entry, .user.entry{
	// border: 1px solid transparent;

	.users, .files{
		font-size:$font-size-base;
		padding: 0;

		li{
			line-height: $line-height-computed;
			border-bottom: none;
			text-overflow: ellipsis;
			width: 200px;
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
		}
	}
}

.tool-bar{
	text-align: right;
	height: $line-height-computed * 2;
	padding: $panel-footer-padding;

	.tool-bar-btn{
		height: 30px;
		width: 30px;
		font-size: 21px;
		border-radius: 15px;
		text-align: center;

		&.active{
			background-color: $brand-primary;
			color: #FFF;

			&:hover{
				background-color: lighten($brand-primary, 5%);
			}
		}
	}
}

.panel{
	background-color: #FFF;

	.panel-heading{
		height: $line-height-computed * 4;
		background-color: $brand-primary;
		display: table;
		width: 100%;
		color: white;

		h1, h2, h3, h4, h5, h6{
			display: table-cell;
			vertical-align: middle;
			padding: $line-height-computed;
			font-weight: 100;
		}
	}

	.panel-footer{
		text-align: right;
	}
}

.login-panel{
	width: 350px;
	margin: $line-height-computed * 6 auto;
}

.btn{
	text-transform: uppercase;
	font-weight: 300;
}

.modal {
	.modal-header{
		// background-color: $brand-primary;
		background-color: $gray-lighter;
		// color: #FFF;
		.modal-title{
			font-weight: 300;
		}
	}
	.modal-content{
		overflow: hidden;
	}
	.file-list{
		font-size: $font-size-small;
		span.path{
			color: $gray-light;
			font-weight: 300;
		}
	}
}

.secondary{
	font-size: $font-size-small;
	opacity: .5;
	// color: $gray-light;
}

.userarea{

	padding-top: $line-height-computed * 2;

	h2{
		font-weight: 300;
	}
	.userarea-nav{
		list-style: none;
		list-style-image: none;
		padding: 0;

		ul{
			padding-left: $line-height-computed;
		}

		a{
			padding: $line-height-computed / 2;
			display: block;

			&:hover{
				background-color: lighten($brand-primary, 10%);
				color: #FFF;
			}

			&.active{
				background-color: $brand-primary;
				color: #FFF;
			}

			&.homepage-link{
				border-bottom: 1px solid lighten($brand-primary, 35%);
			}
		}
	}

	.panel-body{
		min-height: 500px;
	}
}

.project .user .small-control{
	display: none;
	color: $brand-primary;
}

.project .user:hover .small-control{
	display: inline-block;
}

