.page-header {
  padding: 0;
  margin: 0;
  border: none;
  height: 36px;
  display: table;
  padding-left: 9px;
  width: 100%;
  color: #818181;
}
.page-header .breadcrumbs, .page-header .backend-user-actions {
  display: table-cell;
  vertical-align: middle;
}
.page-header .backend-user-actions {
  text-align: right;
}

.app-container {
  white-space: nowrap;
  position: relative;
  width: 100%;
  overflow-y: hidden;
}
.app-container .app-col {
  float: left;
}
.app-container .app-col .app-col-body {
  height: -webkit-calc(100% - 54px - 36px);
  height: calc(100% - 54px - 36px);
  overflow: auto;
  position: relative;
}
.app-container .app-col.app-col-minus-1 {
  width: -webkit-calc(100% - 250px - 9px);
  width: calc(100% - 250px - 9px);
  margin-right: 9px;
}
.app-container .app-col.app-col-full {
  width: 100%;
}
.app-container .app-col.app-col-list .entry, .app-container .app-col.app-col-userfolders .entry {
  padding-left: 9px;
  padding-right: 9px;
}
.app-container .app-col.app-col-list .app-col-body {
  background-color: #d8d8d8;
  padding: 0 9px;
}
.app-container .app-col.app-col-userfolders {
  position: relative;
  z-index: 1001;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
}
.app-container .app-col.app-col-userfolders .app-col-body {
  background-color: #e5e5e5;
  padding: 0 9px;
  height: 100%;
}
.app-container .app-col .app-col-body {
  background-color: #f2f2f2;
}
.app-container .app-col .entry.active {
  background-color: #5b8baf;
  color: white;
}

.app-col.app-col-detail {
  position: relative;
  background-color: #f2f2f2;
  width: 780px;
  top: 0;
}
.app-col.app-col-detail .app-col-header {
  background-color: #FFF;
}
.app-col.app-col-detail .app-col-header h2 {
  color: #5b8baf;
}
.app-col.app-col-detail .app-col-footer {
  background: #FFF;
}
.app-col.app-col-detail .tool-bar {
  display: table-cell;
  vertical-align: middle;
}
.app-col.app-col-detail .tool-bar .tool-bar-btn {
  background-color: transparent;
  text-align: center;
  color: #5b8baf;
}
.app-col.app-col-detail .tool-bar .tool-bar-btn.active {
  background-color: #5b8baf;
  color: #FFF;
}
.app-col.app-col-detail .tool-bar .tool-bar-btn:hover {
  background-color: #f2f2f2;
}
.app-col.app-col-detail .tool-bar .tool-bar-btn.active:hover {
  background-color: #4f7ea2;
}
.app-col.app-col-detail .drag-overlay {
  display: none;
}
.app-col.app-col-detail.dz-drag-hover .drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 139, 175, 0.65);
  z-index: 200;
  border: 10px dashed #5b8baf;
  color: #FFF;
  display: block;
  pointer-events: none;
}
.app-col.app-col-detail.dz-drag-hover .drag-overlay .message {
  font-weight: 300;
  font-size: 45px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 18px;
}
.app-col.app-col-detail .file.entry {
  margin-left: 0;
  margin-right: 0;
  clear: both;
}
.app-col.app-col-detail .file.entry > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-col.app-col-detail .file.entry .tools {
  text-align: right;
}
.app-col.app-col-detail .file.entry.active {
  background-color: #bfbfbf;
}
.app-col.app-col-detail .file.entry.active:hover {
  background-color: #bfbfbf;
}
.app-col.app-col-detail .file.entry .file-info .title {
  font-weight: bold;
  font-size: 17px;
}
.app-col.app-col-detail .file.entry .file-info .file-name {
  font-size: 13px;
  color: darkgray;
}
.app-col.app-col-detail .file.entry .file-info .title {
  font-weight: bold;
  font-size: 13px;
}
.app-col.app-col-detail .file.entry .file-info .file-name {
  font-size: 12px;
  color: darkgray;
}
.app-col.app-col-detail .file.entry .control {
  font-size: 18px;
}
.app-col.app-col-detail .file.entry .control button, .app-col.app-col-detail .file.entry .control a {
  background-color: #f2f2f2;
  color: #5b8baf;
}
.app-col.app-col-detail .file.entry .control button:hover, .app-col.app-col-detail .file.entry .control a:hover {
  background-color: #FFF;
  color: #5b8baf;
}
.app-col.app-col-detail .file-panel {
  width: 50%;
  height: 100%;
  background-color: #bfbfbf;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  display: none;
}
.app-col.app-col-detail .file-panel button.close {
  margin-top: 9px;
  font-size: 30px;
}
.app-col.app-col-detail .file-panel .thumb {
  width: 100%;
  height: 70px;
  background-color: #d8d8d8;
  margin-bottom: 9px;
  text-align: center;
}
.app-col.app-col-detail .file-panel.active {
  display: block;
}

.user-nav {
  height: 100%;
}
.user-nav .section-header {
  padding: 4.5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-nav .section-header .header-title {
  margin: 0;
  padding-top: 20px;
  line-height: 20px;
}

.entry-list {
  padding-left: 0;
  font-size: 13px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.entry-list > li, .entry-list .section-heading {
  list-style: none;
  line-height: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 0;
}
.entry-list .entry {
  position: relative;
}
.entry-list .entry > a {
  display: block;
}
.entry-list .entry.opened {
  background-color: #f2f2f2;
}
.entry-list .entry.opened .control .open-detail {
  display: none;
}
.entry-list .entry.opened .control .close-detail {
  display: block;
}
.entry-list .entry .icon {
  display: inline-block;
}

.entry {
  position: relative;
}
.entry .control {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 4.5px;
  top: 2px;
  font-size: 16px;
}
.entry .control button, .entry .control a {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  display: block;
  float: left;
  margin-left: 3px;
  color: #5b8baf;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}
.entry .control button:hover, .entry .control a:hover {
  background-color: #FFF;
  color: #5b8baf;
}
.entry .control .open-detail {
  display: block;
}
.entry .control .close-detail {
  background-color: #FFF;
  display: none;
}
.entry .control .toggle-collapse {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}
.entry.active .control button, .entry.active .control a {
  background-color: #FFF;
  color: #5b8baf;
}
.entry:hover .control {
  opacity: 1;
  display: block;
  pointer-events: inherit;
}

ul.folder-tree {
  padding-left: 0;
  font-size: 13px;
}
ul.folder-tree li {
  list-style: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
ul.folder-tree li .control {
  position: absolute;
  top: 10px;
  right: 0;
  opacity: 0;
}
ul.folder-tree li > .entry:hover > .control {
  opacity: 1;
}
ul.folder-tree li .toggle-btn {
  display: inline;
  border-radius: 4px;
  padding: 5px;
  padding-left: 15px;
}
ul.folder-tree li.has-child > a, ul.folder-tree li.has-child .entry > a {
  padding-left: 7px;
}
ul.folder-tree li.has-child > a .toggle-btn, ul.folder-tree li.has-child .entry > a .toggle-btn {
  background-image: url(../img/toggleArrowRight.svg);
  -webkit-background-size: 7px;
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center left 5px;
}
ul.folder-tree li.has-child > a .toggle-btn:hover, ul.folder-tree li.has-child .entry > a .toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
ul.folder-tree li.has-child > ul, ul.folder-tree li.has-child .entry > ul {
  height: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
}
ul.folder-tree li.has-child.opened > ul, ul.folder-tree li.has-child .entry.opened > ul {
  height: auto;
  opacity: 1;
}
ul.folder-tree li.has-child.opened > a .toggle-btn, ul.folder-tree li.has-child .entry.opened > a .toggle-btn {
  background-image: url(../img/toggleArrowDown.svg);
}
ul.folder-tree li a, ul.folder-tree li .entry a {
  color: inherit;
  line-height: 36px;
  display: block;
  padding-left: 9px;
}
ul.folder-tree li a:hover, ul.folder-tree li .entry a:hover {
  text-decoration: none;
  background-color: #e5e5e5;
}
ul.folder-tree li a.active, ul.folder-tree li .entry a.active {
  background-color: #f2f2f2;
  font-weight: bold;
}
ul.folder-tree li a.active:hover, ul.folder-tree li .entry a.active:hover {
  background-color: #ededed;
}
ul.folder-tree li a.drop-target-hover, ul.folder-tree li .entry a.drop-target-hover {
  background-color: #467191;
}
ul.folder-tree > li {
  border-left: none;
}

.userfolder.entry .frontend-settings {
  text-align: right;
}
.userfolder.entry .frontend-settings .setting-title {
  color: rgba(0, 0, 0, 0.3);
}

.dashboard-list .app-col-body {
  padding: 9px;
}
.dashboard-list .app-col-body .entry {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}
.dashboard-list .app-col-body .entry .title {
  font-weight: bold;
}
.dashboard-list .app-col-body .entry .relations-list {
  list-style: none;
  opacity: .5;
  font-size: 12px;
}

.app-col-body .upload-info-box {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 18px;
}
.app-col-body .upload-info-box .progress-bar-title {
  position: absolute;
  padding-left: 9px;
  font-size: 12px;
}
.app-col-body .upload-info-box .progress {
  background: rgba(255, 255, 255, 0.15);
}

.bg-icon {
  background-image: url(../img/toggleArrowRight.svg);
  width: 16px;
  height: 16px;
}
.bg-icon.bg-icon-folder {
  background-image-position: 480px 0;
}
.bg-icon.bg-icon-folder-opened {
  background-image-position: 0 480px;
}

.file-tree-wrapper {
  position: relative;
}

.file-tree-container {
  height: -webkit-calc(100% - 54px);
  height: calc(100% - 54px);
  margin-top: 54px;
  overflow: auto;
}
.file-tree-container ul {
  list-style: none;
  margin: 0;
  padding-left: 18px;
  padding-left: 0;
}
.file-tree-container .entry.depth-0 .col.name {
  padding-left: 18px;
}
.file-tree-container .entry.depth-1 .col.name {
  padding-left: 36px;
}
.file-tree-container .entry.depth-2 .col.name {
  padding-left: 54px;
}
.file-tree-container .entry.depth-3 .col.name {
  padding-left: 72px;
}
.file-tree-container .entry.depth-4 .col.name {
  padding-left: 90px;
}
.file-tree-container .entry.depth-5 .col.name {
  padding-left: 108px;
}
.file-tree-container .entry.depth-6 .col.name {
  padding-left: 126px;
}
.file-tree-container .entry.depth-7 .col.name {
  padding-left: 144px;
}
.file-tree-container .entry.depth-8 .col.name {
  padding-left: 162px;
}
.file-tree-container .entry.depth-9 .col.name {
  padding-left: 180px;
}
.file-tree-container .file-tree {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  padding-top: 54px;
}
.file-tree-container .file-tree .entry {
  border-bottom: 1px solid #e5e5e5;
  display: table-row;
}
.file-tree-container .file-tree .entry .file-name, .file-tree-container .file-tree .entry .folder-name {
  pointer-events: none;
}
.file-tree-container .file-tree .entry .icons {
  display: inline-block;
  position: relative;
}
.file-tree-container .file-tree .entry .progress-bar-title {
  position: absolute;
  z-index: 2;
}
.file-tree-container .file-tree .entry .progress {
  margin-bottom: 0;
}
.file-tree-container .file-tree .entry.folder {
  background-color: #dedede;
  border-bottom: 1px solid #d8d8d8;
}
.file-tree-container .file-tree .entry.folder:hover, .file-tree-container .file-tree .entry.folder.look-up {
  background-color: lightgray;
}
.file-tree-container .file-tree .entry.folder .name {
  position: relative;
}
.file-tree-container .file-tree .entry.folder .name .toggle-btn {
  margin-left: -20px;
}
.file-tree-container .file-tree .entry.folder .name .toggle-btn:hover {
  background: #5b8baf;
}
.file-tree-container .file-tree .entry.folder .name .icon {
  position: relative;
  top: 3px;
  background-position: 0 -32px;
}
.file-tree-container .file-tree .entry.folder .name .toggle-arrow {
  background-position: -256px -128px;
  position: relative;
  top: 3px;
}
.file-tree-container .file-tree .entry.folder .control {
  background-color: lightgray;
}
.file-tree-container .file-tree .entry.folder.collapsed .name .toggle-arrow {
  background-position: -320px -128px;
  position: relative;
  top: 3px;
}
.file-tree-container .file-tree .entry.folder.collapsed .name .icon {
  position: relative;
  top: 3px;
  background-position: -481px 0;
}
.file-tree-container .file-tree .entry:hover {
  background-color: #eaeaea;
}
.file-tree-container .file-tree .col {
  display: table-cell;
  padding-left: 4.5px;
  padding-right: 4.5px;
  border-right: 1px solid #bfbfbf;
}
.file-tree-container .file-tree .col.fill {
  width: 100%;
  border-right: none;
}
.file-tree-container .file-tree .col.userfolder {
  border-right: none;
  opacity: .5;
}
.file-tree-container .file-tree .col.name {
  min-width: 300px;
}
.file-tree-container .file-tree .col .control {
  opacity: 0;
  background-color: #eaeaea;
  top: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
}
.file-tree-container .file-tree .col:hover .control {
  opacity: 1;
  display: block;
  pointer-events: inherit;
}
.file-tree-container .file-tree .col.name {
  position: relative;
}
.file-tree-container .file-tree .col.name .icon, .file-tree-container .file-tree .col.name .toggle-arrow {
  display: inline-block;
  background-image: url(../img/iconSprite.svg);
  width: 17px;
  height: 17px;
}
.file-tree-container .file-tree .col.date {
  min-width: 80px;
}
.file-tree-container .file-tree .col.size {
  min-width: 80px;
  text-align: right;
}
.file-tree-container .file-tree .col.user-toggle, .file-tree-container .file-tree .col.user {
  min-width: 24px;
  text-align: center;
}
.file-tree-container .file-tree .col.user-toggle .toggle, .file-tree-container .file-tree .col.user .toggle {
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: transparent;
  margin: 0 auto;
  border: 1px solid #a5a5a5;
}
.file-tree-container .file-tree .col.user-toggle .toggle:hover, .file-tree-container .file-tree .col.user .toggle:hover {
  background-color: #e0e0e0;
}
.file-tree-container .file-tree .col.user-toggle .toggle.active, .file-tree-container .file-tree .col.user .toggle.active {
  background-color: #a5a5a5;
}
.file-tree-container .file-tree .folder.entry .col.user-toggle .toggle {
  border: 1px solid #5b8baf;
}
.file-tree-container .file-tree .folder.entry .col.user-toggle .toggle:hover {
  background-color: rgba(91, 139, 175, 0.2);
}
.file-tree-container .file-tree .folder.entry .col.user-toggle .toggle.active {
  background-color: transparent;
  background-image: url(../img/watchfolderStar.svg);
  background-position: center middle;
}
.file-tree-container .file-tree .file-tree-header {
  position: absolute;
  top: -54px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
  background-color: #d8d8d8;
  height: 54px;
  font-weight: bold;
  display: table-row;
}
.file-tree-container .file-tree .file-tree-header .col {
  height: 54px;
  vertical-align: bottom;
}
.file-tree-container .file-tree .file-tree-header .col.user {
  position: relative;
  border-right: none;
}
.file-tree-container .file-tree .file-tree-header .col.user .username {
  bottom: 0;
  position: absolute;
  display: block;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
}
.file-tree-container .file-tree .entry.file .name .icon {
  background-position: -192px 0;
  position: relative;
  top: 3px;
}
.file-tree-container .file-tree .entry.file.m4a .name .icon, .file-tree-container .file-tree .entry.file.mov .name .icon, .file-tree-container .file-tree .entry.file.mp4 .name .icon, .file-tree-container .file-tree .entry.file.webm .name .icon {
  background-position: -256px -32px;
}
.file-tree-container .file-tree .entry.file.png .name .icon, .file-tree-container .file-tree .entry.file.jpg .name .icon {
  background-position: -160px -32px;
}
.file-tree-container .file-tree .entry.file.wav .name .icon, .file-tree-container .file-tree .entry.file.mp3 .name .icon {
  background-position: -224px -32px;
}

.file.entry.checked {
  background-color: rgba(91, 139, 175, 0.3);
}
.file.entry.checked:hover {
  background-color: rgba(91, 139, 175, 0.5);
}

.view-size-m .entry.depth-0 .col.name {
  padding-left: 90px;
}
.view-size-m .entry.depth-1 .col.name {
  padding-left: 108px;
}
.view-size-m .entry.depth-2 .col.name {
  padding-left: 126px;
}
.view-size-m .entry.depth-3 .col.name {
  padding-left: 144px;
}
.view-size-m .entry.depth-4 .col.name {
  padding-left: 162px;
}
.view-size-m .entry.depth-5 .col.name {
  padding-left: 180px;
}
.view-size-m .entry.depth-6 .col.name {
  padding-left: 198px;
}
.view-size-m .entry.depth-7 .col.name {
  padding-left: 216px;
}
.view-size-m .entry.depth-8 .col.name {
  padding-left: 234px;
}
.view-size-m .entry.depth-9 .col.name {
  padding-left: 252px;
}
.view-size-m .file.entry {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e5e5e5;
}
.view-size-m .file.entry .thumb {
  height: 54px;
  width: 72px;
  margin-right: 18px;
  float: left;
  position: relative;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.view-size-m .file.entry .thumb .placeholder {
  font-size: 50px;
  background-image: url(../img/smallThumbPlaceholder.svg);
  background-repeat: no-repeat;
  -webkit-background-size: auto 95%;
  background-size: auto 95%;
  background-position: center;
  height: 100%;
  opacity: 0.1;
  line-height: 12px;
  color: #000;
}
.view-size-m .file.entry .thumb .file-type {
  position: absolute;
  top: 30px;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.view-size-m .file.entry .thumb img {
  height: 100%;
}

.userfolder.files .file.entry {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 18px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-hkn08t");
  src: url("../fonts/icomoon.eot?#iefix-hkn08t") format("embedded-opentype"), url("../fonts/icomoon.woff?-hkn08t") format("woff"), url("../fonts/icomoon.ttf?-hkn08t") format("truetype"), url("../fonts/icomoon.svg?-hkn08t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-plus:before {
  content: "\e635";
}

.icon-folder-plus:before {
  content: "\e636";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-gear:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-file-o:before {
  content: "\f016";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-video-camera:before {
  content: "\f03d";
}

.icon-photo:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-list-ul:before {
  content: "\f0ca";
}

.icon-file-text-o:before {
  content: "\f0f6";
}

.icon-folder-o:before {
  content: "\f114";
}

.icon-folder-open-o:before {
  content: "\f115";
}

.icon-file-pdf-o:before {
  content: "\f1c1";
}

.icon-file-word-o:before {
  content: "\f1c2";
}

.icon-file-excel-o:before {
  content: "\f1c3";
}

.icon-file-powerpoint-o:before {
  content: "\f1c4";
}

.icon-file-photo-o:before {
  content: "\f1c5";
}

.icon-file-zip-o:before {
  content: "\f1c6";
}

.icon-file-sound-o:before {
  content: "\f1c7";
}

.icon-file-movie-o:before {
  content: "\f1c8";
}

.icon-file-code-o:before {
  content: "\f1c9";
}

.icon-folder:before {
  content: "\e059";
}

.icon-box:before {
  content: "\e079";
}

.icon-arrow-left:before {
  content: "\e094";
}

.icon-arrow-right:before {
  content: "\e095";
}

.icon-arrow-up:before {
  content: "\e096";
}

.icon-arrow-down:before {
  content: "\e097";
}

.icon-loader:before {
  content: "\e105";
}

.icon-plus:before {
  content: "\e114";
}

.icon-minus:before {
  content: "\e115";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

.icon-menu:before {
  content: "\e120";
}

.icon-inbox:before {
  content: "\e122";
}

.icon-outbox:before {
  content: "\e123";
}

.icon-home:before {
  content: "\e637";
}

.icon-user:before {
  content: "\e600";
}

.icon-users:before {
  content: "\e601";
}

.icon-spinner:before {
  content: "\e602";
}

.icon-spinner2:before {
  content: "\e603";
}

.icon-spinner3:before {
  content: "\e604";
}

.icon-spinner4:before {
  content: "\e605";
}

.icon-spinner5:before {
  content: "\e606";
}

.icon-spinner6:before {
  content: "\e607";
}

.icon-play:before {
  content: "\e608";
}

.icon-pause:before {
  content: "\e609";
}

.icon-stop:before {
  content: "\e60a";
}

.icon-arrow-up-left:before {
  content: "\e60b";
}

.icon-arrow-up2:before {
  content: "\e60c";
}

.icon-arrow-up-right:before {
  content: "\e60d";
}

.icon-arrow-right2:before {
  content: "\e60e";
}

.icon-arrow-down-right:before {
  content: "\e60f";
}

.icon-arrow-down2:before {
  content: "\e610";
}

.icon-arrow-down-left:before {
  content: "\e611";
}

.icon-arrow-left2:before {
  content: "\e612";
}

.icon-arrow-up-left2:before {
  content: "\e613";
}

.icon-arrow-up22:before {
  content: "\e614";
}

.icon-arrow-up-right2:before {
  content: "\e615";
}

.icon-arrow-right22:before {
  content: "\e616";
}

.icon-arrow-down-right2:before {
  content: "\e617";
}

.icon-arrow-down22:before {
  content: "\e618";
}

.icon-arrow-down-left2:before {
  content: "\e619";
}

.icon-arrow-left22:before {
  content: "\e61a";
}

.icon-checkbox-checked:before {
  content: "\e61b";
}

.icon-checkbox-unchecked:before {
  content: "\e61c";
}

.icon-user2:before {
  content: "\e61d";
}

.icon-users2:before {
  content: "\e61e";
}

.icon-user-add:before {
  content: "\e61f";
}

.icon-list2:before {
  content: "\e620";
}

.icon-layout:before {
  content: "\e621";
}

.icon-list3:before {
  content: "\e622";
}

.icon-play2:before {
  content: "\e638";
}

.icon-pause2:before {
  content: "\e639";
}

.icon-record:before {
  content: "\e63a";
}

.icon-stop2:before {
  content: "\e63b";
}

.icon-next:before {
  content: "\e63c";
}

.icon-previous:before {
  content: "\e63d";
}

.icon-first:before {
  content: "\e63e";
}

.icon-last:before {
  content: "\e63f";
}

.icon-resize-enlarge:before {
  content: "\e640";
}

.icon-resize-shrink:before {
  content: "\e641";
}

.icon-volume:before {
  content: "\e642";
}

.icon-sound:before {
  content: "\e643";
}

.icon-mute:before {
  content: "\e644";
}

.icon-arrow-left3:before {
  content: "\e623";
}

.icon-arrow-down3:before {
  content: "\e624";
}

.icon-arrow-up3:before {
  content: "\e625";
}

.icon-arrow-right3:before {
  content: "\e626";
}

.icon-arrow-left4:before {
  content: "\e627";
}

.icon-arrow-down4:before {
  content: "\e628";
}

.icon-arrow-up4:before {
  content: "\e629";
}

.icon-arrow-right4:before {
  content: "\e62a";
}

.icon-arrow-left5:before {
  content: "\e62b";
}

.icon-arrow-down5:before {
  content: "\e62c";
}

.icon-arrow-up5:before {
  content: "\e62d";
}

.icon-arrow-right5:before {
  content: "\e62e";
}

.icon-arrow-left6:before {
  content: "\e62f";
}

.icon-arrow-down6:before {
  content: "\e630";
}

.icon-arrow-up6:before {
  content: "\e631";
}

.icon-uniE632:before {
  content: "\e632";
}

.icon-menu2:before {
  content: "\e633";
}

.icon-ellipsis:before {
  content: "\e634";
}

.ui-draggable-dragging {
  background-color: white;
  -webkit-box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.3);
  padding: 9px 36px;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
  text-align: center;
  z-index: 100;
}
.ui-draggable-dragging .thumb {
  width: 100px;
  position: relative;
}
.ui-draggable-dragging .thumb img {
  width: 100%;
}
.ui-draggable-dragging .control {
  display: none;
}
.ui-draggable-dragging .file-info {
  padding-top: 10px;
  text-align: center;
  text-overflow: ellipsis;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}
.ui-draggable-dragging .file-info .file-title {
  text-overflow: ellipsis;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
}
.ui-draggable-dragging .file-info .file-name {
  display: none;
}

.drop-target-hover {
  background-color: #5b8baf !important;
}

.ui-sortable {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.ui-sortable-helper {
  border: none;
  background: white !important;
  -webkit-box-shadow: 13px 20px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 13px 20px 15px rgba(0, 0, 0, 0.3);
}

.breadcrumbs a, .backend-user-actions a {
  color: #919191;
}
.breadcrumbs a:hover, .backend-user-actions a:hover {
  color: #d1d1d1;
}

.clear {
  clear: both;
}

body {
  font-size: 13px;
  background-color: #4B4B4B;
}

a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
  outline: 0;
  text-decoration: none;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

.hidden {
  display: none !important;
}

.app-col-block {
  -webkit-transition: width .5s;
  transition: width .5s;
  width: 250px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 9px;
  top: 0;
}
.app-col-block.opened {
  width: 1030px;
}

.app-col {
  overflow: auto;
  width: 250px;
}
.app-col .app-col-header {
  background-color: #5b8baf;
  height: 54px;
  padding: 0 18px;
  display: table;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
  position: relative;
  z-index: 1001;
}
.app-col .app-col-header .app-col-title {
  margin: 0;
  font-weight: 300;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
}
.app-col .app-col-header .tool-bar {
  height: auto;
}
.app-col .app-col-header .tool-bar button {
  -webkit-transition: all .15s;
  transition: all .15s;
}
.app-col .app-col-header .tool-bar .add-file-btn {
  margin-right: 18px;
}
.app-col .app-col-header a {
  text-decoration: underline;
}
.app-col .app-col-header a.btn {
  text-decoration: none;
}
.app-col .app-col-header .control {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.app-col .app-col-header .control .control-item {
  display: inline-block;
  margin-left: 9px;
}
.app-col .app-col-footer {
  padding: 0 9px;
  display: table;
  background-color: #5b8baf;
  width: 100%;
  height: 36px;
  color: #8cadc7;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline: none;
}
.app-col .tool-bar {
  display: table-cell;
  vertical-align: middle;
}
.app-col .tool-bar button.create {
  background-color: transparent;
  text-align: center;
  color: #436b8a;
}
.app-col .tool-bar button.create:hover {
  background-color: white;
}
.app-col.app-col-list {
  background-color: #d8d8d8;
  padding-left: 0;
  padding-right: 0;
}
.app-col.app-col-list .app-col-body {
  padding-right: 0;
  padding-bottom: 36px;
}

.user-block .app-col-detail .app-col-body {
  padding: 0;
  height: -webkit-calc(100% - 54px);
  height: calc(100% - 54px);
  overflow: auto;
}

.app-col-footer {
  color: #8cadc7;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline: none;
}
.app-col-footer button.create {
  background-color: transparent;
  text-align: center;
}
.app-col-footer button.create:hover {
  background-color: white;
}

.file {
  z-index: 100;
}

.btn-clear {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.project.entry.active {
  background-color: #5b8baf;
}
.project.entry.active a {
  color: #FFF;
}

.entry-list .entry .header, .user.entry .header, .usergroup.entry .header {
  background-color: #8cadc7;
  border: 1px dashed transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  padding: 0 4.5px;
  -webkit-transition: -webkit-box-shadow .2s, background-color .2s;
  transition: box-shadow .2s, background-color .2s;
}
.entry-list .entry .header .control .toggle-collapse, .user.entry .header .control .toggle-collapse, .usergroup.entry .header .control .toggle-collapse {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.entry-list .entry .header.collapsed, .user.entry .header.collapsed, .usergroup.entry .header.collapsed {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
}
.entry-list .entry .header.collapsed .control .toggle-collapse, .user.entry .header.collapsed .control .toggle-collapse, .usergroup.entry .header.collapsed .control .toggle-collapse {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.entry-list .entry:hover, .user.entry:hover, .usergroup.entry:hover {
  background-color: #8cadc7;
}
.entry-list .entry .collapse-body, .user.entry .collapse-body, .usergroup.entry .collapse-body {
  padding: 4.5px 4.5px 9px;
  background-color: #8cadc7;
}

.app-col-detail .entry.active a {
  color: #FFF;
}

.usergroup.entry .users, .usergroup.entry .files, .user.entry .users, .user.entry .files {
  font-size: 13px;
  padding: 0;
}
.usergroup.entry .users li, .usergroup.entry .files li, .user.entry .users li, .user.entry .files li {
  line-height: 18px;
  border-bottom: none;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.tool-bar {
  text-align: right;
  height: 36px;
  padding: 5px;
}
.tool-bar .tool-bar-btn {
  height: 30px;
  width: 30px;
  font-size: 21px;
  border-radius: 15px;
  text-align: center;
}
.tool-bar .tool-bar-btn.active {
  background-color: #5b8baf;
  color: #FFF;
}
.tool-bar .tool-bar-btn.active:hover {
  background-color: #6c97b7;
}

.panel {
  background-color: #FFF;
}
.panel .panel-heading {
  height: 72px;
  background-color: #5b8baf;
  display: table;
  width: 100%;
  color: white;
}
.panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5, .panel .panel-heading h6 {
  display: table-cell;
  vertical-align: middle;
  padding: 18px;
  font-weight: 100;
}
.panel .panel-footer {
  text-align: right;
}

.login-panel {
  width: 350px;
  margin: 108px auto;
}

.btn {
  text-transform: uppercase;
  font-weight: 300;
}

.modal .modal-header {
  background-color: #eeeeee;
}
.modal .modal-header .modal-title {
  font-weight: 300;
}
.modal .modal-content {
  overflow: hidden;
}
.modal .file-list {
  font-size: 12px;
}
.modal .file-list span.path {
  color: #999999;
  font-weight: 300;
}

.secondary {
  font-size: 12px;
  opacity: .5;
}

.userarea {
  padding-top: 36px;
}
.userarea h2 {
  font-weight: 300;
}
.userarea .userarea-nav {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.userarea .userarea-nav ul {
  padding-left: 18px;
}
.userarea .userarea-nav a {
  padding: 9px;
  display: block;
}
.userarea .userarea-nav a:hover {
  background-color: #7da3c0;
  color: #FFF;
}
.userarea .userarea-nav a.active {
  background-color: #5b8baf;
  color: #FFF;
}
.userarea .userarea-nav a.homepage-link {
  border-bottom: 1px solid #d3e0ea;
}
.userarea .panel-body {
  min-height: 500px;
}

.project .user .small-control {
  display: none;
  color: #5b8baf;
}

.project .user:hover .small-control {
  display: inline-block;
}
